.container {
	transition: var(--transition);
	margin: 1rem;
	border-radius: 1rem;
	width: 40rem;
	background: var(--color-secondary-4);
	border: var(--border-primary-4);
	box-shadow: var(--shadow-primary-4);
	cursor: pointer;

	&:hover {

		border: var(--border-accent-2);
		box-shadow: var(--shadow-accent-2)
	}
}