.container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.button {
  overflow: hidden;
  position: absolute;
  height: 4rem;
  width: 100%;
  bottom: 0rem;
  border-radius: 0.1rem;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin-inline-end: 1rem;
  stroke: var(--color-white);
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  overflow: hidden;
  color: var(--color-white)
}