.container {
  width: 100%;
  height: fit-content;
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.bar {
  height: 0.2rem;
  background-color: var(--color-accent-1);
}

.bar::after {
  content: '';
  width: 0%;
  height: 100%;
  background-color: #ff6f00;
  border-radius: 0.5rem;
  animation: progress 2s linear infinite;
}
