.container {
	left: 0;
	right: 0;
	position: absolute;
	top: 3rem;
	bottom: .2rem;
	overflow-y: scroll;
	padding: 1rem;
}

.feed {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.loading {
	display: grid;
	place-items: center;
	height: 100%;
	width: 100%;
}