.form {
	width: 90%;
	max-width: 30rem;
	overflow: hidden;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;

	* {
		font-family: var(--font-family-sans);
	}
}

.show-button {
	appearance: none;
	outline: none;
	border: none;
	background-color: #fff;
	position: absolute;
	border-radius: 0 .3rem .3rem 0;
	width: 4rem;
	display: grid;
	place-items: center;
	bottom: 0.1rem;
	right: 0.1rem;
	padding: 1.15rem;

	svg {
		height: 2rem;
		width: 2rem;
		fill: #44444440;
	}

	&:active {
		svg {
			transform: scale(.9);
		}
	}
}

.hide-color {
	svg {
		fill: #444444
	}
}