.container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	place-items: center;
	z-index: 200;
}

.overlay {
	background-color: #000000bd;
	backdrop-filter: blur(.2rem);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}