.form {
	display: flex;
	align-items: center;
	max-width: 95%;
	min-width: 50%;

	label {
		font-weight: 300;
		margin-inline-end: 1rem;
		font-size: 1.6rem;
	}

	.input-container {
		border: .1rem solid #444444;
		padding: .3rem .5rem;
		background-color: #fff;
		border-radius: .4rem;
		width: 100%;
		position: relative;
	}

	input {
		font-family: inherit;
		font-weight: 400;
		margin-inline-end: 1rem;
		font-size: 1.6rem;
		border: none;
		appearance: none;
		outline: none;
		background-color: transparent;
		width: 100%;

		&::placeholder {
			font-family: inherit;
			color: #44444480;
			font-weight: 300;
			font-size: 1.6rem;
		}

		&:active {
			appearance: none;
			outline: none
		}
	}
}

.show-button {
	appearance: none;
	outline: none;
	border: none;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 .3rem .3rem 0;
	bottom: 0;
	width: 3rem;
	display: grid;
	place-items: center;

	svg {
		height: 2rem;
		width: 2rem;
		fill: #44444440;
	}

	&:active {
		svg {
			transform: scale(.9);
		}
	}
}

.hide-color {
	svg {
		fill: #444444
	}
}

.submit-button {
	background-color: #1132b6ce;
	color: #fff;
	padding: .5rem .8rem;
	border-radius: .3rem;
	margin-inline-start: 1rem;
	cursor: pointer;

	&:disabled {
		background-color: #1132b63a;
		cursor: not-allowed;
	}
}