.container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: .1rem solid var(--color-primary-4);
	box-shadow: var(--shadow-1);
	z-index: 100;
	background-color: var(--color-accent-2);
}

.name {
	margin-inline-start: 1rem;
	height: fit-content;
	color: var(--color-back);
}

.chat-title {
	display: flex;
	align-items: center;
}

.chat-title-icon {
	display: flex;
	stroke: var(--color-back);
	height: 3rem;
	width: 3rem;
}

.chat-title-button {
	cursor: pointer;
	padding: .8rem;
}