.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0.3rem var(--color-primary-3);
  z-index: 100;
  background-color: var(--color-primary-3);
}


.name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  left: 5rem;
  right: 5rem;
  text-align: center;
  height: fit-content;
  color: var(--color-text);
  text-shadow: 0.2rem 0.1rem 0.2rem var(--color-primary-2);
}
